<div nz-row>
  <form nz-form (ngSubmit)="onSubmit()" [formGroup]="form">
    <div nz-col nzSpan="18">
      <div *ngFor="let q of questions" class="form-row">
        <app-dynamic-form-question [question]="q" [form]="form"></app-dynamic-form-question>
      </div>
    </div>

    <div nz-col nzSpan="6">
      <button nz-button nzType="primary" type="submit" [disabled]="!form.valid">Save</button>
      <div *ngIf="payLoad" class="form-row">
        <textarea nz-input placeholder="output json"
          [nzAutosize]="{ minRows: 5, maxRows: 20}"
        >{{payLoad}}</textarea>
      </div>
    </div>
  </form>
</div>
