<nz-layout>
  <nz-sider [nzWidth]="200" style="background:#fff">
    <ul nz-menu [nzMode]="'inline'">
      <li nz-submenu *ngFor="let list of knowledgeLists">
        <span title><i nz-icon type="mail"></i>{{list.category}}</span>
        <ul>
          <li nz-menu-item *ngFor="let k of list.data" (click)="selectedKnowledge = k">{{k.name}}</li>
        </ul>
      </li>
    </ul>
  </nz-sider>

  <nz-layout>
    <nz-content style="background:#fff; padding: 24px; min-height: 280px;">
      <app-knowledge-card *ngIf="selectedKnowledge" [knowledge]="selectedKnowledge" (updateKnowledge)="updateKnowledge($event)"></app-knowledge-card>
    </nz-content>
  </nz-layout>
</nz-layout>
