<nz-layout>
  <nz-sider [nzWidth]="200" style="background:#fff">
    <ul nz-menu [nzMode]="'inline'">
      <li nz-submenu *ngFor="let c of categoryList" [(nzOpen)]="c == selectedCategory" (nzOpenChange)="selectCategory(c)">
        <span title><i nz-icon nzType="{{c.icon}}" nzTheme="fill"></i>{{c.name}}</span>
        <ul>
          <li nz-menu-item *ngFor="let k of knowledgeList" (click)="selectedKnowledge = k">{{k.name}}</li>
        </ul>
      </li>
    </ul>
  </nz-sider>

  <nz-layout>
    <nz-content style="background:#fff; padding: 24px; min-height: 280px;">
      <app-knowledge-card *ngIf="selectedKnowledge" [knowledge]="selectedKnowledge" (updateKnowledge)="updateKnowledge($event)"></app-knowledge-card>
    </nz-content>
  </nz-layout>
</nz-layout>
