<h2>This is the knowledgeForm list</h2>
<div nz-row>
  <div nz-col nzSpan="4">
    <ul nz-menu [nzMode]="'inline'" style="width: 240px;">
      <li nz-submenu *ngFor="let list of knowledgeLists">
        <span title><i nz-icon type="mail"></i>{{list.category}}</span>
        <ul>
          <li nz-menu-item *ngFor="let k of list.data" (click)="selectedKnowledge = k">{{k.name}}</li>
        </ul>
      </li>
    </ul>
  </div>
  <div nz-col nzSpan="20">
      <app-knowledge-card *ngIf="selectedKnowledge" [knowledge]="selectedKnowledge"></app-knowledge-card>
  </div>
</div>
